.control {
  overflow: hidden;
  display: block;

  ul {
    margin: 0 0 0 -12px;
    padding: 0;
    word-spacing: -.3em;
    display:flex;
  }

  li {
    display: inline-block;
    margin: 0 0 0 6px;
    padding: 0 0 0 6px;
    vertical-align: text-bottom;
    word-spacing: normal;
    border-left: 1px solid #ddd;
  }

  button {
    border: none;
    display: block;
    width: 32px;
    height: 32px;
    position: relative;
    cursor: pointer;
    
    &:focus {
      outline: none;
    }
  }
}
